@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.eclipse-container {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.content .image {
    position: absolute;
    width: 260px;
    height: 260px;
    left: 57px;
    top: 222px;
    height: 260px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 8px;
    gap: 12px;
    
    position: absolute;
    width: 295px;
    height: 78px;
    left: 40px;
    top: 506px;
}

.text h1 {
    width: 287px;
height: 24px;

/* 16 / Semi Bold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Neutral / 5 */
color: #F5F5FA;
}

.text p {
    width: 287px;
    height: 42px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #F5F5FA;
}

.carrousel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 60px;
    height: 12px;
    left: 158px;
    top: 624px;
}

.dot-one-t3 {
    width: 12px;
    height: 12px;

    background: #2E2E5D;

    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 25px;
}

.dot-two-t3 {
    width: 12px;
    height: 12px;

    background: #2E2E5D;

    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 25px;
}

.dot-three-t3 {
    width: 12px;
    height: 12px;

    background: #4838D1;

    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 25px;
}

.button-skip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    position: absolute;
    width: 140px;
    height: 56px;
    left: 40px;
    top: 676px;
    border-radius: 8px;
    position: absolute;

    background: #0F0F29;
}

.button-skip p {
    width: 34px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-next {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 12px;

        position: absolute;
        width: 140px;
        height: 56px;
        left: 195px;
        top: 676px;

        background: #4838D1;
        border-radius: 8px;
}

.button-next p {
        width: 76px;
        height: 24px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        text-align: center;

        color: #FFFFFF;
}

.bottom-bar-title-three {
    position: absolute;
    width: 375px;
    height: 84px;
    left: calc(50% - 375px/2);
    top: 728px;
    
    filter: drop-shadow(0px 0px 12px rgba(25, 17, 121, 0.1));
}

.indicator-title-three {
    position: absolute;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px/2 - 0.5px);
    bottom: 8px;

    background: #FFFFFF;
    border-radius: 100px;
}