@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.image-ready {
    position: absolute;
width: 260px;
height: 260px;
left: 58px;
top: 222px;
}

.desc-container-r {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 295px;
height: 78px;
left: 40px;
top: 506px;
}

.desc-r {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 8px;
gap: 12px;

width: 295px;
height: 78px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.desc-r-t {
    width: 287px;
    height: 24px;
    
    /* 16 / Semi Bold */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    
    /* Neutral / 5 */
    color: #F5F5FA;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.desc-r-d {

    width: 287px;
    height: 42px;
    
    /* 14 / Regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    
    /* Neutral / 5 */
    color: #F5F5FA;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.b-container {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 295px;
height: 56px;
left: 40px;
top: 608px;
}

.btn-r {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 12px;

width: 295px;
height: 56px;

/* Primary / 50 */
background: #4838D1;
border-radius: 8px;
border: none;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.btn-r p {
    width: 231px;
height: 24px;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}