@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.bg {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.eclipse-one {
    position: absolute;
    left: -224px;
    right: 151px;
    top: -291px;
    bottom: 655px;

    border-radius: 50%;
    background: #1C1C4D;
    mask: radial-gradient(transparent 145px,#000 120px);
}

.eclipse-two {
    position: absolute;
    left: 290px;
    right: -49px;
    top: 90px;
    bottom: 587px;

    background: #1C1C4D;
    border-radius: 100%;
}

.desc {
    position: absolute;
    width: 279px;
    height: 174px;
    left: 48px;
    top: 236px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 250;
    font-size: 48px;
    line-height: 120%;

    color: #FFFFFF;
}

.more-desc {
    position: absolute;
    width: 279px;
    height: 42px;
    left: 48px;
    top: 426px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #BBB1FA;
}

.welcome-title {
    position: absolute;
    width: 87px;
    height: 24px;
    left: 48px;
    top: 204px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #BBB1FA;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 295px;
    height: 128px;
    left: 40px;
    top: 500px;
}

.personalize {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 12px;

width: 295px;
height: 56px;

background: #4838D1;
border-radius: 8px;

flex: none;
order: 0;
flex-grow: 0;
}

.personalize-btn {

    width: 231px;
    height: 24px;
    background: transparent;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.skip {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;
    
    width: 295px;
    height: 56px;
    
    /* Neutral/White */
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background: #0f0f29;

}

.skip-btn {
    width: 34px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    
    /* Neutral/White */
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom {
    position: absolute;
width: 375px;
height: 84px;
left: calc(50% - 375px/2);
top: 728px;

filter: drop-shadow(0px 0px 12px rgba(25, 17, 121, 0.1));
}

.bottom-bar {
/* Home Indicator */

position: absolute;
left: 0%;
right: 0%;
top: 59.52%;
bottom: 0%;

/* Neutral / 100 */
background: #0F0F29;
}

.indicator {
    position: absolute;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px/2 - 0.5px);
    bottom: 8px;
    
    /* Neutral/White */
    background: #FFFFFF;
    border-radius: 100px;

    
}