@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700&display=swap");

.header {
  position: absolute;
  width: 375px;
  height: 88px;
  left: 0px;
  top: 0px;

  background: #0f0f29;
}

.dots {
  position: absolute;
  left: 83.73%;
  right: 9.87%;
  top: 61.36%;
  bottom: 11.36%;
}

.title {
  position: absolute;
  width: 222px;
  height: 24px;
  left: 76px;
  top: 54px;
  /* 16 / Medium */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;

  /* Neutral/White */
  color: #ffffff;
}

.dotcontainer {
  position: absolute;
  width: 11.35px;
  height: 2.39px;
  left: 6.32px;
  top: 10.8px;
}

.moredots {
  position: absolute;
  left: 26.35%;
  right: 26.34%;
  top: 45.01%;
  bottom: 45.01%;

  /* Neutral/White */
  background: #ffffff;
}

.dotone {
  position: absolute;
  left: 63.67%;
  right: 26.35%;
  top: 45.01%;
  bottom: 45.01%;

  background: #200e32;
}

.dottwo {
  position: absolute;
  left: 45.01%;
  right: 45.01%;
  top: 45.01%;
  bottom: 45.01%;

  background: #200e32;
}

.dotthree {
  position: absolute;
  left: 26.35%;
  right: 63.67%;
  top: 45.01%;
  bottom: 45.01%;

  background: #200e32;
}

.iconcontainer {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 36px;
  top: 54px;
}

.arrowcontainer {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.arrowleft {
  position: absolute;
  width: 9px;
  height: 16px;
  left: 7.5px;
  top: 4px;
}

.arrow {
    position: absolute;
    left: 31.25%;
    right: 31.25%;
    top: 16.67%;
    bottom: 16.67%;
    
    /* Neutral/White */
    background: #FFFFFF;
}

.cover {
  position: absolute;
  width: 319px;
  height: 335px;
  left: 28px;
  top: 116px;
}

.imgholder img {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 4.78%;

  border-radius: 12px;
  object-fit: cover;
}

.booktitle {
  position: absolute;
  width: 284px;
  height: 30px;
  left: 38px;
  top: 479px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}

.authorname {
  position: absolute;
  width: 92px;
  height: 24px;
  left: 38px;
  top: 513px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  opacity: 0.5;
}

.buttoncontainer {
    position: absolute;
    width: 303px;
    height: 72px;
    left: 36px;
    top: 625px;
}

.buttonposition {
    position: absolute;
    left: 38.12%;
    right: 38.12%;
    top: 0%;
    bottom: 0%;
}

.button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 6px;
    top: 6px;
}

.play {
    position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutral/White */
background: #FFFFFF;
}

.fragmentone {

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;
}

.fragmenttwo {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;    
}

.timelinecontainer {
    position: absolute;
    width: 299px;
    height: 32px;
    left: 38px;
    top: 569px;
}

.dot {
    position: absolute;
    left: 37.46%;
    right: 59.87%;
    top: 0%;
    bottom: 75%;

    border-radius: 20px;
    background: #4838D1;
}

.linecontainer {
    position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 84.38%;

/* Primary / 10 */
background: #DDD7FC;
border-radius: 4px;
}

.line {
    position: absolute;
left: 0%;
right: 59.87%;
top: 9.38%;
bottom: 84.38%;

/* Primary / 50 */
background: #4838D1;
border-radius: 4px;
}

.textone {
    position: absolute;
left: 1.34%;
right: 91.64%;
top: 53.12%;
bottom: 0%;

/* 10 / Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height */

/* Neutral / 50 */
color: #9292A2;
}

.texttwo {
    position: absolute;
    left: 89.97%;
    right: 1.34%;
    top: 53.12%;
    bottom: 0%;
    
    /* 10 / Regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    
    /* Neutral / 50 */
    color: #9292A2;    
}