@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700&display=swap');

.header-lib {
    position: absolute;
width: 375px;
height: 88px;
left: 0px;
top: 0px;

/* Neutral / 100 */
background: #0F0F29;
}

.logo {
    position: absolute;
width: 121px;
height: 40px;
left: 28px;
top: 46px;
}

.bookly-logo {
    position: absolute;
width: 40px;
height: 40px;
left: 28px;
top: 46px;
}

.bookly-text {

position: absolute;
width: 73px;
height: 29px;
left: 76px;
top: 54px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

/* Neutral/White */
color: #FFFFFF;

}

.my-books {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 335px;
height: 101px;
left: 20px;
top: 128px;

}

.my-books p {
    width: 115px;
height: 36px;

/* 24 / Semi Bold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 36px;
/* identical to box height */

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.search {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 12px;

width: 335px;
height: 53px;

/* Neutral / 90 */
background: #1C1C4D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
border: none;



}

.search-input {

width: 175px;
height: 21px;

/* 14 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

/* Neutral / 60 */
color: #6A6A8B;
background-color: transparent;
border: none;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.my-books-list {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 335px;
height: 536px;
left: 20px;
top: 245px;
}

.card-bestseller-one {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 8px;

width: 335px;
height: 104px;

/* Neutral / 100 */
background: #0F0F29;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.cardspan-one {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 311px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.img-placeholder-one {
    width: 80px;
    height: 80px;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.img-one {
    width: 80px;
    height: 80px;
    position: absolute;
}

.card-text-one {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 215px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}

.card-text-container {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 215px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.t1 {
    width: 215px;
height: 24px;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.t1:nth-of-type(1){

    width: 215px;
    height: 40px;
    
    /* 16 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    /* Neutral / 5 */
    color: #F5F5FA;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.desc1 {
    width: 215px;
height: 18px;

/* 12 / Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

/* Neutral / 10 */
color: #EBEBF5;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.t3 {
    
width: 215px;
height: 48px;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.desc3 {
    
width: 215px;
height: 18px;

/* 12 / Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

/* Neutral / 10 */
color: #EBEBF5;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.t4 {
    
    width: 215px;
    height: 48px;
    
    /* 16 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    /* Neutral / 5 */
    color: #F5F5FA;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    
    .desc4 {
        
    width: 215px;
    height: 18px;
    
    /* 12 / Regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    /* Neutral / 10 */
    color: #EBEBF5;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }