@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.article-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 295px;
  height: 78px;
  left: 40px;
  top: 204px;
}

.span-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
  gap: 12px;

  width: 295px;
  height: 78px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-p {
  width: 189px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */

  /* Neutral / 5 */
  color: #f5f5fa;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.desc-p {
  width: 287px;
  height: 42px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #f5f5fa;

  flex: none;
  order: 1;
  flex-grow: 0;
}

strong {
  color: #f5f5fa;
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 12px;

  position: absolute;
  width: 295px;
  height: 53px;
  left: 40px;
  top: 322px;

  background: #1c1c4d;
  border-radius: 8px;
  color: whitesmoke;
  border: none;
}

.topic-container {
  width: 84px;
  height: 21px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #6a6a8b;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.topics-count {
  position: absolute;
  width: 287px;
  height: 21px;
  left: 40px;
  top: 543px;

  /* 14 / Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral / 5 */
  color: #f5f5fa;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 284px;
  height: 140px;
  left: 40px;
  top: 391px;
}

.category-row-one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 244px;
  height: 29px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-row-two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 272px;
  height: 29px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.category-row-three {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 284px;
  height: 29px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.category-row-four {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 183px;
  height: 29px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.category-element-one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 45px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.active {
  background-color: #4838D1;
  border: 1px solid #ffffff;
}

.category-element-one p {
  width: 21px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 86px;
  height: 29px;

  /* Primary / 50 */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bg-active-el-two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 86px;
  height: 29px;

  /* Primary / 50 */
  border: 1px solid #ffffff;
  background-color: #4838D1;
  color: white;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-two p {
  width: 62px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-three {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 97px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.category-element-three p {
  width: 73px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-four {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 85px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-four p {
  width: 61px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-five {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 76px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.category-element-five p {
  width: 52px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-six {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 95px;
  border: 1px solid #ffffff;
  height: 29px;

  /* Primary / 50 */
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.category-element-six p {
  width: 71px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-seven {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 62px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-seven p {
  width: 38px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-eight {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 101px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.category-element-eight p {
  width: 77px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-nine {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 105px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.category-element-nine p {
  width: 81px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-ten {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 107px;
  height: 29px;

  /* Primary / 50 */
  border: 1px solid white;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-ten p {
  width: 83px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category-element-eleven {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;

  width: 68px;
  height: 29px;

  /* Neutral/White */
  border: 1px solid #ffffff;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.category-element-eleven p {
  width: 44px;
  height: 21px;

  /* 14 / Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Neutral/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-group {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 295px;
height: 128px;
left: 40px;
top: 603px;
}

.submit {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 12px;

width: 295px;
height: 56px;

/* Primary / 50 */
background: #4838D1;
border-radius: 8px;
border: none;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.submit p {
    width: 231px;
height: 24px;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Neutral/White */
color: #FFFFFF;
}

.skip-btn {
    box-sizing: border-box;
    background-color: #0F0F29;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 12px;

width: 295px;
height: 56px;

/* Neutral/White */
border: 1px solid #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.skip-btn p {
    width: 34px;
height: 24px;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}